/* ---------------------------- */
.dateSwipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dateShow {
  height: 3.5vh;
  width: 8vw;
}

.weekNo,
.weekTx,
.monTx,
.monNo {
  flex: 1;
}

.weekNo {
  flex: 1;
}
.weekTx {
  flex: 2;
}
.monNo {
  flex: 1;
}
.monTx {
  flex: 1;
}

/* ---------------------------- */
.memName {
  height: 2.7vh;
  width: 4vw;
  font-size: 1.2vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  text-align: center;
}
.addMem {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.addMem:hover {
  transform: scale(1.1);
}

/* ---------------------------- */
.workSelector {
  width: 2vw;
  height: 3vh;
  font-size: 1vh;
  text-align: left;
}

ul {
  margin: 0px;
  padding: 0.5vw;
}
.work {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.workBox {
  background-color: #f2f2f2;
  height: 2.7vh;
  width: 11vw;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  margin: 0.3vw;
  margin-left: 0.7vw;
  font-size: 15.14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  text-align: center;
}
.workSelect {
  display: flex;
  flex-direction: column;
}
.workSelect button {
  height: 1.5vh;
  width: 1.4vw;
  padding: 0;
  margin: 0vw;
}

/* ------------------------------------------------- */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
