.App {
  min-width: 1240px;
  min-height: 1050px;
}
.MainThree {
  display: flex;
  flex-direction: column;
  height: 80vh;
  min-height: 650px;
}
.Under {
  height: 20vh;
  min-height: 260px;
}

.Header {
  height: 60px;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
}

.Container {
  flex: 1;
  display: flex;
}

.LeftSection,
.MiddleSection,
.RightSection {
  flex: 1;
  padding: 20px;
}

.LeftSection {
  background-color: #f2f2f2;
  flex: 1;
}

.MiddleSection {
  background-color: #e6e6e6;
  flex: 2;
}

.RightSection {
  background-color: #f2f2f2;
  flex: 1;
}

.RectangleBox {
  background-color: #f2f2f2;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1vw;
  margin: 1vw;
  transition: transform 0.2s ease;
  font-size: 15.14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.RectangleBox:hover {
  transform: scale(1.05);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
